nav .nav-options #logo {
     margin-top: 20px;
    height: 50px;
    float: left;
    display: inline-block;
}

nav .nav-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 30px;
    list-style: none;
}
nav  .nav-options li {
     padding: 25px 50px; 
     color: #393E46;
     cursor: pointer;
}

nav .nav-options li:hover{
    color: #3CCF4E;
}
nav .nav-right-content a:hover{
color: #3CCF4E;
}

nav  .nav-right-content{
    padding-top: 20px;
}

nav  .nav-right-content button{
    margin-left: 30px;
     background-color: #3CCF4E;
    color: white;
    height: 52px;
    width: 175px;
    border-radius: 7px;
    border: none;
     cursor: pointer;

}
nav .nav-right-content a {
    color: #393E46;
    text-decoration: none;
   
}


.mainContainer {
    margin: 0px 150px;
}

.first-container-content {
    display: inline-block;
    width: 419px;
    position: relative;
    bottom: 129px;
}

.first-container-content-image  {
    display: inline-block;
    position: relative;
    left: 38px;
}

.first-container button {
    background-color: #3CCF4E;
    color: white;
    height: 52px;
    width: 175px;
    border-radius: 7px;
    border: none;
     cursor: pointer;
}

.second-container h2 {
    text-align: center;
    margin-top: 143px;
}

.second-container .partners {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: #b4aeae;
}

.third-container {
    text-align: center;
    margin-top: 120px;
}

.third-container h3 {
    color: #9b9595;
}