nav .nav-options #logo {
  margin-top: 20px;
  height: 50px;
  float: left;
  display: inline-block;
}

nav .nav-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 30px;
  list-style: none;
}
nav .nav-options li {
  padding: 25px 50px;
  color: #393e46;
  cursor: pointer;
}

nav .nav-options li:hover {
  color: #3ccf4e;
}
nav .nav-right-content a:hover {
  color: #3ccf4e;
}

nav .nav-right-content {
  padding-top: 20px;
}

nav .nav-right-content button {
  margin-left: 30px;
  background-color: #3ccf4e;
  color: white;
  height: 52px;
  width: 175px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
nav .nav-right-content a {
  color: #393e46;
  text-decoration: none;
}

.mainContainer {
  margin: 0px 108px;
}

.first-container-content {
  display: inline-block;
  width: 419px;
  position: relative;
  bottom: 27px;
}

.first-container-content h1 {
  font-size: xxx-large;
  font-weight: 500;
}

.first-container-content-image {
  display: inline-block;
}

.first-container-content-image img {
  width: 400px;
}

.first-container button {
  background-color: #3ccf4e;
  color: white;
  height: 52px;
  width: 175px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.second-container h2 {
  text-align: center;
  margin-top: 143px;
}

.second-container .partners {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  color: #b4aeae;
}

.third-container {
  text-align: center;
  margin-top: 120px;
}

.third-container h3 {
  color: #9b9595;
}

.fourth-container {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.fourth-container button {
  width: 167px;
  height: 64px;
  border: none;
  border-radius: 22px;
}

.fourth-container button:hover {
  background-color: #3ccf4e;
  color: white;
}
.fourth-container #first-button {
  background-color: #3ccf4e;
  color: white;
}

.fifth-container {
  margin-top: 120px;
}

.fifth-container-content {
  width: 374px;
  display: inline-block;
  position: relative;
  bottom: 131px;
}

.fifth-container-image {
  display: inline-block;
}

.fifth-container-image img {
  width: 440px;
}

.fifth-container-others {
  display: flex;
}
